Source: libus-dualled
Section: boards
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: 
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libus-dualled
Section: boards
Architecture: all
XBSC-Group: Majenko Technologies
XBSC-Subgroup: LIBus
Depends: chipkit
Recommends: liblibus-chipkit, libtlc59116-dtwi-chipkit, libdtwi-chipkit
Description: LIBus Dual LED
 Dual 7-segment Display LIBus Slave Board



